*.suo
*.user
*.userosscache
*.sln.docstates

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/

.vs/

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*.nupkg
**/packages/*

_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

.idea/
*.sln.iml

.vscode/
